[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "google-auth>=2.47.0",
    "gspread>=6.2.1",
    "streamlit>=1.52.2",
]
